/.vs
/.idea
/.vscode
/Builds
/Library
/Local
/Logs
/obj
/node_modules
/Temp
/UserSettings
/package-lock.md5
CHANGELOG.md.meta
LICENSE.md.meta
package.json.meta
README.md.meta
Third Party Notices.md.meta
*.csproj
*.sln
*.tgz
